/* rem and em DO NOT DEPEND on html font-size in media-queries*/
/* 1 rem = 1em = 16px */
/* in media-queries we use em instead of rem */

/************************************/
/*1350/16 = 84em */
/* BELOW 1344px (smaller desktops) */
/************************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/****************************************/
/*1200/16 = 75em*/
/* BELOW 1200px (landscape tablets) */
/****************************************/
@media (max-width: 75em) {
  html {
    // 9px / 16px
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/************************/
/* 944/16 = 59em  */
/* BELOW 944px (tablets) */
/************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5px = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr) !important;
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr !important;
  }

  .cta-form {
    grid-template-columns: 1fr !important;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    // transform: translateX(100%);

    // display: none; ~ does not allow animation
    /* 3 steps when not using display: none to hide element*/

    // 1. hide navigation visually
    opacity: 0;

    // 2. make unaccessible to mouse and keyboard
    pointer-events: none;

    // 3. hide from screen readers
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  //   when the nav is open
  .nav--open {
    .main-nav {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    .icon-mobile-nav {
      &[name="close-outline"] {
        display: block;
      }

      &[name="menu-outline"] {
        display: none;
      }
    }
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
    font-weight: 600;
  }
}

/********************************/
/* 700/16= 43.75 = 44*16 = 704px / 16 = 44em */
/* BELOW 700-704px (smaller tablets) */
/********************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100% !important;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/********************************/
/* 550/16= 34.375 = 34*16 = 544px / 16 = 34em*/
/* BELOW 550-544px (phones) */
/********************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .btn--full,
  .btn--outline {
    margin: 1.2rem 0;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos {
    img {
      height: 1.2rem !important;
    }
  }

  //   2nd child of container not the class name below
  .step-img-box {
    transform: translateY(2.4rem);
    &:nth-child(2) {
      grid-row: 1;
    }
    &:nth-child(6) {
      grid-row: 5;
    }
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr !important;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}

/********************************/
/* FIXING SAFARI FLEXBOX */
/********************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
